main {
    display: flex;
}

h1, h2 {
    margin: 0;
    padding: 0%;
    color: #103f79;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tudoprojeto {
    width: 100%;
}

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #103f79 solid;
}
main .tudoprojeto .titulo h1 {

    font-size: 45px;
    color: #103f79;
    text-decoration: underline;
}

.projetos {
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.proj1 {
    width: 50%;
}

.proj2 {
    width: 50%;
    
}

.tituloprojeto {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemprojeto {
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .tudoprojeto .projetos .proj1 .imagemprojeto .imgs {
    width: 95%;
    height: 80%;
    border: 2px #103f79 solid;
}

main .tudoprojeto .projetos .proj1 .imagemprojeto .textoprojeto {
    width: 90%;
    height: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #103f79;
    font-size: 18px;
    text-align: center;
}

main .tudoprojeto .projetos .proj2 .imagemprojeto .imgs {
    width: 95%;
    height: 80%;
    border: 2px #103f79 solid;
}

main .tudoprojeto .projetos .proj2 .imagemprojeto .textoprojeto {
    width: 90%;
    height: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #103f79;
    font-size: 18px;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

.linksprojeto {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
    color: #103f79;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

a:hover {
    color: white
}


@media (max-width: 1500px) {
    main .tudoprojeto .projetos .proj1 .imagemprojeto .imgs {
        height: 75%;
    }
    main .tudoprojeto .projetos .proj2 .imagemprojeto .imgs {
        height: 75%;
    }

    .projetos {
        background-color: red;
    }

    
}

@media (max-width: 1250px) {
    main .tudoprojeto .projetos .proj1 .imagemprojeto .imgs {
        height: 65%;
    }
    main .tudoprojeto .projetos .proj2 .imagemprojeto .imgs {
        height: 65%;
    }

    .projetos {
        background-color: green;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 1100px) {
    
}

@media (max-width: 1050px) {
    
}

@media (max-width: 1000px) {
    .projetos {
        background-color: gray;
        flex-direction: column;
        align-items: center;
    }

    .proj1 {
        width: 90%;
        border-bottom: 2px solid #103f79;
        height: auto;
    }
    
    .proj2 {
        width: 90%;
        height: inherit;
    }
    
    
}

@media (max-width: 950px) { 
    
}

@media (max-width: 900px) {

}

@media (max-width: 825px) {
        
}

@media (max-width: 750px) {
    
}